### Build artifacts ###
*.deb

### VisualStudioCode ###
.vscode/*
.devcontainer

### direnv ###
.direnv
.envrc

### coverage ###
.coverage
htmlcov
coverage.xml
.coveragerc

### cache ###
.pytest_cache
__pycache__

.config