Source: wb-device-manager
Maintainer: Vladimir Romanov <v.romanov@wirenboard.ru>
Section: python
Priority: optional
XS-Python-Version: >= 3.9.1
Build-Depends: dh-python, debhelper (>= 10), python3:any, python3-setuptools, python3-wb-mcu-fw-updater
Standards-Version: 3.9.1
X-Python-Version: >= 3.9.1

Package: python3-wb-device-manager
Architecture: all
Depends: python3, ${misc:Depends}, python3-mqttrpc (>= 1.1.2), wb-mqtt-serial (>= 2.73.0), python3-wb-mcu-fw-updater (>= 1.6.1)
Description: Wiren Board modbus devices manager (python3 library)

Package: wb-device-manager
Architecture: all
Depends: ${misc:Depends}, python3-wb-device-manager (= ${binary:Version})
Description: Wiren Board modbus devices manager (python3 library)
