Source: wb-device-manager
Maintainer: Wiren Board team <info@wirenboard.com>
Section: python
Priority: optional
Build-Depends: dh-python,
               debhelper (>= 10),
               python3-all,
               python3-setuptools,
               python3-paho-mqtt,
               python3-wb-common (>= 2.1.0),
               python3-mqttrpc (>= 1.1.5),
               python3-pytest,
               python3-httplib2
Standards-Version: 4.5.1
X-Python3-Version: >= 3.9
Homepage: https://github.com/wirenboard/wb-device-manager

Package: wb-device-manager
Architecture: all
Breaks: python3-wb-device-manager
Replaces: python3-wb-device-manager
Provides: python3-wb-device-manager
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-paho-mqtt,
         python3-wb-common (>= 2.1.0),
         python3-mqttrpc (>= 1.1.5),
         wb-mqtt-serial (>= 2.158.7~~),
         python3-httplib2
Recommends: wb-mqtt-homeui (>= 2.50.0)
Description: Wiren Board modbus devices manager
 The daemon that manages firmware update and new devices searching.
